<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <footer>
      <div class="wrapper">

        <div class="top">
        </div>

        <ul class="navigation">
          <li><a href="{{ url_for('index')}}" title="Главная">Главная</a></li>
          <li><a href="{{ url_for('index3')}}" title="Рекомендую">Рекомендую</a></li>
          <li><a href="{{ url_for('index4')}}" title="Блог">Блог</a></li>
        <li><a href="{{ url_for('index2')}}" title="Контакты">Контакты</a></li>
          <div class="clear"></div>
        </ul>

  <div class="footer">
    {% block content %} {% endblock %}
  </div>
  <div class="avtor_prava">
      <p>© Все права защищены</p>
  </div>
    </div>

  </footer>
    <div class="wrapper" id="content">
    </div>


  </body>
</html>