{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Добро пожаловать на мой блог посвященный воркауту {% endblock %}</h1>
    <p>Для тех кто не в теме, Воркаут - это круто!</p>
    <hr>
    <div>
        <img src="{{ url_for('static', filename= 'img/kostya.jpg') }}" alt="моя команда" width=500px align="left" class="my_foto">
        <div class="me">
            <br>
            <p>Меня зовут Константин, и я более трех лет занимаюсь уличным воркаутом. В этом блоге я хотел, показать некоторые элементы,
                и познакомить вас подробнее с данным видом легкой атлетики.</p>

        </div>

    </div>
    <h2>Воркаут: что это такое?</h2>
    <p>Воркаут в переводе с английского означает просто тренировка. Однако не любая тренировка – это воркаут.
        Воркаут – это комплекс упражнений с собственным весом или минимальным отягощением, с использованием турников и брусьев.<br>
        Такие тренировки направлены на комплексное развитие силы, ловкости и выносливости.
        Как правило, воркаут предполагает тренировки на улице, поэтому они легко доступны любому желающему.</p>
    <h2>Виды воркаута</h2>
    <p>Существуют три вида воркаута:</p> <br>
    <ul>
    <li><b>Классический (Street Workout)</b> – это упражнения с собственным весом для развития силы и ловкости;</li>
    <li><b>Джимбар или кубинский стиль (Gimbarr)</b> – это сложнотехнические комплексы упражнений, выполнение которых требует значительной силы и уровня подготовки. Такие упражнения могут быть опасны для здоровья, это направление не для новичков;</li>
    <li><b>Фристайл или стрит-воркаут (Street Workout Freestyle)</b> – это вольная программа в мире воркаута, набор упражнений и связок, которые эффектно исполняются спортсменами.</li>
  </ul>



{% endblock %}