{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Рекомендую ознакомится {% endblock %}</h1>
    <p>Здесь собраны упражнения известных мировых чемпионов в данном виде спорта.</p> <hr>
    <h2>Денис Минин</h2>
    <iframe width="560"
            height="315"
            src="https://www.youtube.com/embed/gFBGAnYw8bQ"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe> <hr>
    <h2>Ганнибал Кинг</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/fkpqEIspB8M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



{% endblock %}